# .gitconfig

[user]
  name = sgsh
  email = 22369041+sgsh-gh@users.noreply.github.com

[includeIf "gitdir:~/Projects/"]
    path = ~/dotfiles/.local/.gitconfig

[core]
	editor = emacs -nw -Q
	excludesfile = ~/.gitignore_global

[alias]
	graph = log --decorate --graph --name-status --oneline
	co = checkout
	cm = commit
	st = status
	br = branch -av
	ft = fetch --prune
	rt = rev-parse --show-toplevel
	pl = pull
	ps = push
	df = diff
	sync-main = fetch origin master:master
; 	sync = (sync | rebase master)

[color]
	ui = true

[pull]
	ff = only

[credential]
    helper = osxkeychain
