[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "arcanist"]
	path = arcanist
	url = https://github.com/phacility/arcanist.git
	branch = stable
[submodule "libphutil"]
	path = libphutil
	url = https://github.com/phacility/libphutil.git
	branch = stable
